  <%= form_with url: "/chat", class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :messages, class: 'form-message', placeholder: '年齢を入力してくだい' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>