<div class="chat-header">
    <div class="header-title">
    <p> aa </p>
    </div>
    <div class="header-button">
    <p> aa </p>
    </div>
  </div>
  <div class = "messages">
  <%= render "message_chat" %>
  </div>

</div>
<%= render "form_with" %>