<div class="message">
  <div class="upper-message">
    <div class="message-user">
    <% @chat.each do |chat| %>
    <p><% if chat.messages >= 0 %>
    <%= "お若いですね！" %>
    <%end%>
     </p>
     <p><%= chat.messages %></p>
    <div class="message-date">
    <%= chat.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
    </div>
  </div>
  <% end %>
</div>